:root {
  --md-admonition-icon--custom: url('data:image/svg+xml;charset=utf-8,');
}
.md-typeset .admonition.custom,
.md-typeset details.custom {
  border-right: 0px;
  border-top:0px;
  border-bottom: 0px;
  border: 4px solid;
  border-color: #303fa1;
}
.md-typeset .custom > .admonition-title,
.md-typeset .custom > summary {
  background-color: rgba(93, 108, 192, 0.0);
}
.md-typeset .custom > .admonition-title::before,
.md-typeset .custom > summary::before {
  background-color: #303fa1;
  -webkit-mask-image: var(--md-admonition-icon--custom);
          mask-image: var(--md-admonition-icon--custom);
}

[data-md-color-scheme="nbl-light"] {
  color-scheme: light;

  --md-default-fg-color--light: #333333;

  --md-primary-fg-color:        #2C3E50;
  --md-primary-fg-color--light: #00d9be;
  --md-primary-fg-color--dark:  #00a595;
  --md-primary-bg-color:        #FAFAFA;
  --md-primary-bg-color--light: #FAFAFAb3;

  --md-accent-fg-color:         #00d9be;
  --md-accent-fg-color--transparent:  #00d9be1a;
  --md-accent-bg-color:         #FAFAFA;
  --md-accent-bg-color--light:  #FAFAFAb3;

  --md-typeset-color:           #333333de;
  --md-typeset-a-color:         #2980B9;

  --md-code-fg-color:           #D35400;
  --md-code-bg-color:           #ECECEC; 
}

[data-md-color-scheme="nbl-dark"] {
  color-scheme: dark;

  --md-default-bg-color:        #1E1E2F;
  --md-default-fg-color:        #E4E4E4;
  --md-default-fg-color--light: #E4E4E4;
  --md-default-fg-color--lighter:hsla(var(--md-hue),15%,90%,0.32);

  --md-primary-fg-color:        #2E3A59;
  --md-primary-fg-color--light: #00d9be;
  --md-primary-fg-color--dark:  #00a595;
  --md-primary-bg-color:        #E4E4E4;
  --md-primary-bg-color--light: #E4E4E4b3;

  --md-accent-fg-color:         #00d9be;
  --md-accent-fg-color--transparent:  #00d9be1a;
  --md-accent-bg-color:         #E4E4E4;
  --md-accent-bg-color--light:  #E4E4E4b3;   
  
  --md-typeset-color:           #E4E4E4;
  --md-typeset-a-color:         #00ccb8;

  --md-code-fg-color:           #FFD580;
  --md-code-bg-color:           #2D2D44; 
  --md-code-hl-name-color:      #E4E4E4;
  --md-code-hl-string-color:    #E4E4E4;
  --md-code-hl-punctuation-color:#E4E4E4b3;
  --md-code-hl-operator-color:  #E4E4E4b3;
  --md-code-hl-comment-color:   #E4E4E4;
  --md-code-hl-generic-color:   #E4E4E4;
  --md-code-hl-variable-color:  #E4E4E4;


  --md-admonition-fg-color:     #E4E4E4;
  --md-admonition-bg-color:     #1a1b26;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none !important;
  }
}

p {
  font-size: large; 
}
